/* Inicio do css Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Final do css Reset */


/*inicio do Cabeçalho da aplicação */

header {
    background: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

header nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*fim  do Cabeçalho da aplicação */

/*inicio do  kanban */

.kanban {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.coluna {
    background: aliceblue;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 30%;
    padding: 10px;
    min-height: 350px;
}

.coluna h2 {
    text-align: center;
    margin-top: 0;
}

.card {
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: grab;
}


/*final do  kanban */


/* inicio da Tela de edição */
.editar-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: none;
}

.editar-box label {
    display: block;
    margin-top: 10px;
}

.editar-box input,
.editar-box select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.editar-box button {
    margin-top: 15px;
    width: 100%;
    padding: 8px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* final da Tela de edição */

/*Inicio tela usuário*/
.container {
    width: 60%;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.ok {
    background: #7a3cff;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.cancelar {
    background: transparent;
    padding: 10px 40px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #7a3cff;
    color: #7a3cff;
    font-size: 16px;
}
    /*Fim tela usuario*/
textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 6px;
}

textarea {
    height: 120px;
}

.row {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.row div {
    flex: 1;
}
    /*Inicio tela tarefa*/
